/* Reset de estilo */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif; /* Fonte parecida com a do FIFA */
    background: linear-gradient(to right, #1f1f1f, #131313);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Container dos botões */
.button-container {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    max-width: 500px;
    width: 90%; /* Ocupa 90% da largura da tela */
    text-align: center;
}

/* Estilo do título */
h1 {
    color: #333;
    margin-bottom: 25px;
    font-size: 36px;
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 1.5px; /* Espaçamento entre letras */
}

/* Estilo dos links */
a {
    display: block;
    background-color: #333;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin: 10px 0;
    text-transform: uppercase; /* Letras maiúsculas */
    letter-spacing: 1.2px; /* Espaçamento entre letras */
    transition: all 0.3s ease;
}

/* Efeito ao passar o mouse nos links */
a:hover {
    background-color: #000000;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px; /* Adiciona um pouco de espaço interno */
    }

    h1 {
        font-size: 28px; /* Reduz o tamanho do título */
    }

    a {
        font-size: 16px; /* Ajusta o tamanho do texto dos botões */
        padding: 10px 15px; /* Reduz o espaço interno dos botões */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Ajuste adicional para telas menores */
    }

    a {
        font-size: 14px; /* Fonte menor nos botões */
        padding: 8px 10px; /* Botões mais compactos */
    }

    .button-container {
        padding: 20px 10px; /* Reduz o espaçamento do container */
    }
}
